@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@media (max-width: 600px) {
  .info-text {
    font-size: 1, 5rem;
    padding: 10px;
    text-align: center;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: normal;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  color: rgb(29, 13, 13);
}

.ava {
  width: 40%;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(176, 17, 17, 0.4);
  padding: 0.6em;
}
.info {
  display: flex;
  margin-bottom: 20px;
}
.info-text {
  margin-left: 6px;
  margin-top: 6px;
}
.container {
  width: 500px;
  margin: auto;
  padding: 10px;
  border: 10px;
}
.info-text p {
  font-style: italic;
  color: #86898f;
  margin-bottom: 0px;
}
.info-text h1 {
  font-size: 30px;
  padding-right: 0px;
}
.info-text h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
a {
  font-size: 21px;
  font-weight: normal;
  margin: 1px;
  color: #333;
  padding-left: 2px;
  text-decoration: none;
}

.card {
  border-radius: 20px;
  padding: 10px 10px;
  margin-bottom: 5px;
}

.bg-red {
  background: #f50101a2;
  color: white;
}
.bg-grey {
  background: rgba(255, 254, 254, 0.63);
  color: red;
}

.btn {
  background: rgba(3, 3, 3);
  padding: 15px 20px;
  color: rgb(1, 1, 10);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  padding: 10px;
}
.btn {
  color: rgb(240, 242, 246);
}

.btn:hover {
  opacity: 0.8;
  color: rgb(255, 253, 253);
}
.btn1:active {
  color: rgb(9, 9, 9);
}
a:hover {
  color: orange;
  text-decoration: none;
}
.list {
  padding: 0 20px;
}
.list li {
  color: #f70101;
  margin-bottom: 5px;
}
.tabl {
  width: 100%;
  padding: 0 20px;
  padding-right: 2px;
}
.tabl td {
  border-bottom: 2px solid rgb(245, 243, 243);
}
.tabl td:nth-child(2),
.tabl td:nth-child(3) {
  color: #e4e9f3da;
}

.form h5 {
  text-align: center;
  font-size: 30px;
}
.form-grup label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-grup input,
.form-grup textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(18, 18, 18);
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
.form-row {
  margin-bottom: 10px;
  display: flex;
}
.form-row .form-grup {
  width: 50%;
  margin-right: 20px;
}
.form-row .form-grup:last-child {
  margin-right: 0;
}
